@import url("https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap");
@import url("https://fonts.cdnfonts.com/css/butler");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ul {
  gap: 19px;
  display: flex;
  /* text-decoration: none; */
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  max-width: 85%;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.spacing {
  margin-bottom: 96px;
}

li {
  list-style: none;
}
.styling {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  color: white;
  text-decoration: none;
}
.styling:hover {
  color: rgb(208, 16, 54);
  transition: all ease-in 0.3s;
  text-decoration: underline;
}
.button-1 {
  text-decoration: none;
  color: white;
  background-color: #d01036;
  border: 1px solid #d01036;
  font-family: "Jost";
  border-radius: 33px;
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1;
  transition-duration: 0.5s;
  font-size: 18px;
  padding-right: 26px;
  padding-left: 26px;
}
.button-1:hover {
  border-radius: 1px solid #d01036;
  color: #d01036;
  background-color: rgba(0, 0, 0, 0);
}
.nav {
  padding: 20px 0;
  background-image: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0.01));
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 1;
  width: 100%;
}
.video-container {
  position: relative;
}
video.video-banner {
  width: 100%;
}
.spice-video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 76%;
}
.spice-video-text {
  font-size: 66px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  line-height: 92px;
  font-family: "Butler";
}
.spice-banner-gif {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.spice-banner-gif img {
  width: 60px;
  cursor: pointer;
}

.section-2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.block-hot {
  margin-bottom: 70px;
  text-align: left;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.text-hot {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.headline {
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  color: #000000;
}
.headline-2 {
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  color: #d01036;
}

.spice-description {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #828282;
  font-size: 20px;
  font-weight: 300;
  font-family: "Jost";
  width: 100%;
  max-width: 50%;
  text-align: center;
}

.main-section-2 {
  text-align: left;
  align-items: center;
  width: 100%;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.main-spices {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;

  align-items: flex-start;
}

.main-picture {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.pic-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
  position: relative;
}
.picture-1 {
  position: relative;
  z-index: -1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.picture-2 {
  position: absolute;
  top: 100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
#good {
  max-width: 100%;
  object-fit: cover;
}
.spicy {
  object-fit: cover;
  width: 194px;
  height: 194px;
  max-width: 100%;
}
.pic-2 {
  line-height: 1.6;
  margin-top: -240px;
  margin-left: 125px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.pic-text {
  font-family: jost;
  line-height: 1.6;
  background-color: #d01036;
  color: #ffffff;
  border-radius: 48px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  width: 100%;
  max-width: 541px;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
.main-topics {
  width: 50%;
  display: flex;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.main-topic-block {
  margin-bottom: 100px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}
.main-icon {
  display: grid !important;
  align-items: stretch;
  grid-template-columns: repeat(2, minmax(30%, 1fr));
  grid-auto-rows: minmax(min-content, 1fr);
  max-width: 100%;
  gap: 40px;
  width: 100%;
}
.icons-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  width: 100%;
  margin-top: 0px;
}
.trophy-text {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Jost";
}
.icons-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  width: 100%;
  margin-top: 0px;
}
.hand {
  display: inline-flex;
  border-radius: 50%;
  margin-left: 32px;
  margin-right: 32px;
}
.hand-text {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Jost";
}
.icons-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  width: 100%;
  margin-top: 0px;
}
.people-text {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Jost";
}
.icons-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  width: 100%;
  margin-top: 0px;
}
.bulb-text {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  font-family: "Jost";
}
.bad-button {
  font-family: "Jost";
  border-radius: 33px;
  align-self: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 26px;
  line-height: 1;
  transition-duration: 0.5s;
  background-color: #d01036;
  border: 1px solid #d01036;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.bad-button:hover {
  background-color: #ffffff;
  border: 1px solid #d01036;
  color: #d01036;
}

.section-3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.leaf {
  display: none;
  margin-bottom: -210px;
  max-width: 100%;
  border-style: none;
}
.red-box {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  display: block;
}
.red-wrap {
  max-width: 100%;
  padding-top: 075px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: inherit;
}
.red-main {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #d01036;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.leaf-2 {
  margin-bottom: -210px;
  max-width: 100%;
  border-style: none;
}
.red-text {
  font-family: "Butler", sans-serif;
  color: #ffffff;
  font-size: 37px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  line-height: 49.13px;
}
.red-card {
  width: 100%;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.red-slide {
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
}
.slider {
  position: relative;
  overflow: visible;
  padding: 0 40px;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.card {
  position: relative;
  overflow: hidden;
}
.red-ul {
  width: 200%;
  left: 0%;
  list-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}
.shine {
  width: 50%;
  padding: 5px;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  display: list-item;
}
.slide-inside {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}
.card-1 {
  /* width: 30%; */
  text-align: left;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.img-card {
  overflow: hidden;
  border-radius: 33px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.red-food {
  height: 372px;
  max-width: 100%;
  border-style: none;
}
.img-text {
  padding-top: 60px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.red-head {
  font-family: "jost";
  line-height: 49.13px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  width: 100%;
  text-align: center;
}
.red-head-2 {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "jost";
}
.red-food:hover {
  transform: scale(1.12, 1.12);
  transition-duration: 0.5s;
}
.red-button {
  font-family: "Jost";
  text-align: center;
  width: 100%;
  max-width: 155px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-radius: 50px;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
  line-height: 1;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-decoration: none;
  display: inline-block;
  /* background-color: rgba(216, 69, 69, 0);
    border: 1px solid rgba(216, 69, 69, 0); */
}
.red-button:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #d01036;
  transition-duration: 0.5s;
}
.leaf3 {
  width: 100%;
  text-align: left;
  align-items: flex-end;
  margin-bottom: -117px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.leaf-3 {
  max-width: 100%;
  border-style: none;
}
.splide__pagination {
  display: none !important;
}

.menu {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
}
.menu-wrap {
  padding-top: 075px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: inherit;
  max-width: 1120px;
}
.menu-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: nowrap;
}
.menu-text {
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  color: #000000;
  line-height: 49.13px;
}
.menu-text-1 {
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  color: #d01036;
  line-height: 49.13px;
}
.menu-pages {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom-width: 1;
  border-bottom-style: solid;
  border-bottom-color: #eceeef;
  flex-wrap: nowrap;
  align-items: stretch;
}
.pages {
  font-size: 20px;
  font-weight: 400;
  color: #000000;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;

  cursor: pointer;
  padding: 20px;
}
.names {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.tablinks.content {
  padding: 15px 5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: "Jost";
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.tablinks.content.active {
  border-bottom: 3px solid #d01036;
  margin-bottom: -2px;
}
.pages.pages-active {
  font-size: 20px;
  font-weight: 400;
  color: #000000;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 3px solid #d01036;
  margin-bottom: -2px;
  cursor: pointer;
  padding: 20px;
}
.main-contents {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.content-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 9rem;

  text-align: center;
  width: 100%;

  display: flex;

  flex-wrap: nowrap;

  padding: 20px;
}
.text-1 {
  width: 50%;
  text-align: left;
  align-items: center;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.head-1 {
  font-family: "Butler";
  font-size: 36px;
  color: #d01036;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.text-main-1 {
  line-height: 1.6;
  color: #828282;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 73px;
  text-align: center;
}
.main-1button {
  font-size: 18px;
  font-family: "Jost";
  font-weight: 300 !important;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-left: 30px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #000000;
  border-right-color: #000000;
  border-bottom-color: #000000;
  border-left-color: #000000;
  border-radius: 42px;
  line-height: 1;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.main-1button:hover {
  line-height: 1;
  font-weight: 300;
  font-size: 18px;
  font-family: "Jost";
  color: #ffffff;
  transition-duration: 0.5s;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #d01036;
  border: 1px solid #d01036;
}
.content-1img {
  width: 50%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.main-img1 {
  max-width: 100%;

  border-style: none;
}
.main-side-img {
  margin-top: -100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.main-side-1 {
  width: 296px;
  max-width: 100%;
  border-style: none;
}

.oxy-tabs-contents-content-hidden {
  display: none !important;
}
.content-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 9rem;

  text-align: center;
  width: 100%;
  gap: 9rem;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.tabcontent {
  display: none;
}

.gallery {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  display: block;
}
.gallery-wrap {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: inherit;
}
.gallery-block {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}

.gallery-head {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  flex-wrap: nowrap;
}
.gallery-text {
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  color: #000000;
  line-height: 49.13px;
}
.gallery-text-1 {
  color: #d01036;
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  line-height: 49.13px;
}
/* .gallery-wrap.padd{
      /* padding-top: 75px;
    padding-right: 20px;
    padding-bottom: 75px;
    padding-left: 20px; */

.gallery-main {
  margin-bottom: 45px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.row-1 {
  width: 33.33%;
  gap: 36px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.img-card-1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.img-card-2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.dish-1 {
  border-radius: 30px;
  max-width: 100%;
  border-style: none;
}
.row-2 {
  width: 33.33%;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.img-card-3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.dish-3 {
  border-radius: 30px;
  height: 570px;
  object-fit: cover;
  max-width: 100%;
  border-style: none;
}
.row-3 {
  width: 33.34%;
  gap: 36px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.img-card-4 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.img-card-5 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.dish-1:hover {
  transform: scale(1.12, 1.12);
  transition-duration: 0.4s;
}
.dish-3:hover {
  transform: scale(1.12, 1.12);
  transition-duration: 0.4s;
}
.gallery-button {
  width: 100%;
  text-align: left;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.button-gallery {
  text-decoration: none;
  font-size: 16px;
  font-family: "Jost";
  font-weight: 500;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 41px;
  padding-left: 41px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #d01036;
  border-right-color: #d01036;
  border-bottom-color: #d01036;
  border-left-color: #d01036;
  border-radius: 42px;
  line-height: 1.5;
}
.button-gallery.pink {
  background-color: rgba(30, 115, 190, 0);

  color: #d01036;
}
.button-gallery:hover {
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  font-family: "Jost";
  color: #ffffff;
  transition-duration: 0.5s;
  background-color: #d01036;
  border: 1px solid #d01036;
}
.Happy {
  width: 100%;
  padding-bottom: 59px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.happy-space {
  background-image: url(https://7spices.sa/wp-content/uploads/2024/07/Frame-1000002100-2.png);
  background-size: 100% 100%;
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.happy-block {
  align-items: stretch;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%;
  max-width: 85%;
  display: grid;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
.happy-section {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  display: block;
}
.happy-wrap {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-top: 75px; */
  padding-right: 20px;
  /* padding-bottom: 75px; */
  padding-left: 20px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: inherit;
}
.happy-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: nowrap;
}
.happy-head {
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  color: #000000;
  line-height: 49.13px;
  margin: 0;
}
.happy-head-1 {
  color: #d01036;
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  line-height: 49.13px;
}
.happy-review {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.happy-block-1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.unslider-1 {
  padding: 0px;
  position: relative;
  overflow: visible;
}
.ct-slide-1 {
  padding: 0px;
}
.ct-slide-1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ct-block {
  gap: 100px;
  text-align: left;

  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.happy-identity {
  width: 100%;
  gap: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.happy-text {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.identity-text {
  width: 100%;
  text-align: left;
  flex-direction: row;
  display: flex;
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;

  align-items: flex-start;
}
.identity-img {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.identity-txt {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.review-1 {
  max-width: 100%;
}
.name {
  font-family: "Jost";
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}
.name-1 {
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
  color: #404040;
}
.happy-main-img {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.img-card-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.card-main {
  border-radius: 30px;
  max-width: 100%;
  border-style: none;
}
.card-main-text {
  background-color: #ffffff;
  padding-bottom: 21px;
  padding-top: 21px;
  padding-right: 33px;
  padding-left: 33px;
  border-radius: 20px;
  width: 100%;
  max-width: 80%;
  position: absolute;
  bottom: 30px;
  left: -50px;
  box-shadow: 1px 7px 23px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.main-txt {
  font-family: "Jost";
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
.frame {
  max-width: 100%;
  border-style: none;
}
.star-txt {
  font-family: "Jost";
  color: #828282;
  font-weight: 400;
  font-size: 24px;
}

.industry-slider {
  background-color: #d01036;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.industry-block {
  width: 100%;
  text-align: left;
  align-items: flex-end;
  margin-top: -60px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.industry-head {
  width: 230px;
  max-width: 100%;
  border-style: none;
}
.industry-main {
  width: 100%;
  max-width: 85%;
  text-align: left;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.industry-heading {
  color: #ffffff;
  font-size: 37px;
  font-weight: 400;
  font-family: "Butler";
  margin-bottom: 70px;
}
.leaf-5 {
  margin-bottom: -40px;
  width: 165px;

  max-width: 100%;
}

.spice-blog {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.blog {
  width: 100%;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.spice-news {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  display: block;
}
.blog-wrap {
  max-width: 100%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 75px;
  padding-right: 20px;
  padding-bottom: 75px;
  padding-left: 20px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: inherit;
}
.wrap-block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.blog-head {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.latest {
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  color: #000000;
  line-height: 46.13px;
}
.news {
  color: #d01036;
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  line-height: 49.13px;
  margin: 0;
}
.main-blog {
  display: flex;
  width: 100%;
}

.main-cards-blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-card-1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 3em;
  width: 33.33%;
  padding: 1em;
}
.img-fixed-ratio {
  overflow: hidden;
  border-radius: 33px 33px 0 0;
}
.img-fixed-ratio img {
  width: 100%;
  border-radius: 33px 33px 0 0;
}
.main-card-text {
  background: #f3f3f3;
  margin-top: -10px;
  padding: 27px 38px;
  border-radius: 0 0 33px 33px;
}
.main-card-text-date {
  color: #d01036;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.709px;
  margin-bottom: 20px;
}
.main-text-title {
  color: #1c1b1f;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 90%;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  background-color: transparent;
}
a {
  text-decoration: none;
}
.main-card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main-card-button-1 {
  background-color: transparent !important;
  color: #828282 !important;
  font-family: Jost;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20.709px !important;
  padding: 0 !important;
  display: inline-block;
  text-decoration: none;
}
.main-card-text:hover {
  color: #fff !important;
  background: #d01036;
  transition: 0.5s;
}
.spice-card-1:hover .main-card-text div,
.main-card-text:hover a,
.main-card-text-date:hover .main-card-buttons:hover a,
.main-card-button-1 {
  color: #ffffff !important;
}
.card-button-550 {
  width: 100%;
  text-align: left;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.ct-button-50 {
  color: #d01036;
  font-size: 16px;
  font-family: "Jost";
  font-weight: 500;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 41px;
  padding-left: 41px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #d01036;
  border-right-color: #d01036;
  border-bottom-color: #d01036;
  border-left-color: #d01036;
  border-radius: 42px;
  line-height: 1.5;
}
.ct-button-50:hover {
  transition-duration: 0.5s;
  background-color: #d01036;
  border: 1px solid rgba(30, 115, 190, 0);
  color: #fff;
}
.spice-info {
  background-image: url(img_and_video/Group-1000002441.webp);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
  margin-top: 150px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.spice-quote {
  width: 100%;
}
.ct-div-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.spice-column-info {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.spice-quote-imgs {
  width: 50%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: left;
  align-items: flex-end;
  /* padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px; */

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.request-img {
  margin-top: -74px;
  margin-bottom: -95px;
  max-width: 100%;
}
.spice-info-req {
  width: 50%;
  text-align: left;
  align-items: center;
  margin-left: 7.5%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.spice-req-head {
  color: #ffffff;
  font-family: "Butler";
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
}
.spice-tabel-abut {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  text-align: left;
  align-items: center;
  margin-left: 7.5%;
}
.main-tabel-spice {
  width: 100%;
  text-align: left;
  align-items: center;
  margin-left: 7.5%;
}
.screen-spice-responsive {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  word-wrap: normal !important;
  width: 50%;
  text-align: left;
  align-items: center;
  margin-left: 7.5%;
}
.name-abut {
  position: relative;
}
.name-input {
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 38px;
  padding: 16px 30px;
  color: #fff !important;
  width: 100%;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.drop-down-btn {
  display: inline-flex;
  width: 100%;
}
.drops {
  display: inline-flex;
  width: 100%;
  position: relative;
}
.options-select {
  cursor: pointer;
  background-image: url(https://7spices.sa/wp-content/uploads/2024/07/dropdown.png);
  background-position: center right 20px;
  background-repeat: no-repeat;
  width: 100%;
  appearance: none;
  background: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 38px;
  padding: 16px 30px;
  color: #fff;
  width: 100%;
  text-transform: none;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.spice-quote-form-dropdown select option {
  color: #000;
}
.spice-columns-info {
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;

  display: flex;
  width: 100%;
  flex-direction: row;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  font-size: 20px;
  font-family: jost;
  width: 100% !important;
  max-width: none !important;
  display: block;
  box-sizing: border-box;
  margin: 16px 0;
  padding: 16px 28px;
  border-radius: 40px;
}

input,
select,
textarea {
  color: #fff !important;
}

input::placeholder,
textarea::placeholder {
  color: #fff !important;
  opacity: 1;
}

.spice-quote-form-btns {
  padding-top: 10px;
}
.spice-quote-form-btns p {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.spice-quote-form-submit {
  display: flex;
  flex-direction: column;
}
.spice-quote-form-submit input {
  background: #fff;
  color: #d01036 !important;
  font-size: 22px;
  font-weight: 500;
  padding: 16px 50px;
  cursor: pointer;
  outline: none;
  border: 1px solid #fff;
  border-radius: 38px;
  padding: 16px 30px;
  color: #fff;
  width: 100%;
}
.spice-form-or-txt {
  font-family: "Jost";
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 500;
}
.spice-form-wtsp-btn {
  font-family: "Jost";
  display: flex;
  align-items: center;
  gap: 10px;
  background: #09bb4c;
  padding: 16px 30px;
  border-radius: 38px;
  line-height: 0px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  border: 1px solid #09bb4c;
}
.spice-quote-form-submit input:hover,
.spice-form-wtsp-btn:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff !important;
  transition: 0.3s;
}
.find-info {
  width: 100%;
  max-width: 85%;
  padding-top: 80px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.find-section {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  display: block;
}
.find-wrap-section {
  max-width: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 75px;
  padding-right: 20px;
  padding-bottom: 75px;
  padding-left: 20px;

  max-width: 1120px;

  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: inherit;
}
.find-columns {
  align-items: center;
  flex-wrap: nowrap;
  gap: 5rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.find-map {
  text-align: left;
  align-items: flex-end;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  width: 50%;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.find-block {
  width: 100%;
}
.spice-map-section iframe {
  border-radius: 33px;
  width: 100%;
}
.find-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;

  align-items: flex-start;
}
.find-head {
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  color: #000000;
  line-height: 49.13px;
}
.find-head-1 {
  color: #d01036;
  usecustomtag: true;
  font-family: "Butler";
  font-size: 37px;
  font-weight: 400;
  line-height: 49.13px;
}
.find-details-1 {
  gap: 7px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.det-1 {
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  font-family: "Jost";
}
.det-2 {
  font-size: 18px;
  color: #000000;
  usecustomtag: true;
  font-weight: 300;
  font-family: "Jost";
}
.find-details {
  width: 50%;
  gap: 25px;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.det-3 {
  font-size: 18px;
  color: #000000;
  usecustomtag: true;
  font-weight: 300;
  font-family: "Jost";
}
.find-details-2 {
  gap: 7px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.det-4 {
  font-size: 18px;
  color: #000000;
  usecustomtag: true;
  font-weight: 300;
  font-family: "Jost";
}
.find-details-3 {
  width: 100%;
  flex-direction: row;
  display: flex;
  text-align: left;
  gap: 10px;
  display: flex;
  flex-wrap: nowrap;

  align-items: flex-start;
}
.ct-link {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fancy-icons {
  background-color: #d01036;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-top-color: #d01036;
  border-right-color: #d01036;
  border-bottom-color: #d01036;
  border-left-color: #d01036;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
div.fancy-icons {
  display: inline-flex;
  border-radius: 50%;
}
.svg-fancy-icons {
  fill: white;
  width: 16px;
  height: 16px;
}
.ct-link-1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fancy-icons:hover {
  background-color: white;
  transform: scale(1.4) translateY(-5px);
  transition-duration: 0.5s;
}
.svg-fancy-icons:hover {
  fill: #d01036;
  transition-duration: 0.1s;
}
.sub-spice {
  margin-bottom: -100px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.sub-space {
  width: 100%;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.sub-main {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  display: block;
}
.sub-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-top: 75px;
  padding-right: 20px;
  padding-bottom: 75px;
  padding-left: 20px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: inherit;
}
.sub-block {
  width: 100%;
  background-color: #000000;
  border-radius: 22px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 45px;
  padding-left: 45px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.sub-column {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.sub-news {
  width: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.sub-headline {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  font-family: "Jost";

  line-height: 49.13px;
  margin: 0;
}
.sub-email {
  width: 50%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.spice-letter-form {
  display: flex;
  align-items: baseline;
  border: 1.5px solid #fff;
  border-radius: 22px;
}
.wrap-cntrl {
  position: relative;
}
.email-main-2 {
  direction: ltr;

  background: transparent;
  outline: none;
  border: none;
  padding: 12px 25px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  width: 100%;

  font-size: 88%;
  line-height: 1.15;
  margin: 0;
}
.btn-sub {
  background: #fff;
  border: none;
  outline: none;
  padding: 15px 36px;
  border-radius: 22px;
  border: 1.5px solid #fff;
  color: #d01036 !important;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}
.footer-main {
  background-color: #d01036;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.footer-block {
  width: 100%;
  max-width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.footer-spice {
  width: 100%;
  background-size: cover;
  background-repeat: repeat;
  display: block;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 75px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1120px;

  margin-left: auto;
  margin-right: auto;
  height: 100%;
  min-height: inherit;
}
.footer-head {
  width: 100%;
  text-align: left;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.footer-head-img {
  width: 180px;

  max-width: 100%;
}
.footer-details {
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-spice-det {
  width: 33%;
  padding-right: 80px;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.footer-det-img {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fotter-logo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.footer-headline {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  max-width: 90%;
  font-family: "Jost";
}
.foter-det-img {
  width: 100%;
  text-align: center;
  align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.detailed-img {
  width: 160px;
  max-width: 100%;
}
.footer-nav {
  gap: 10px;
  width: 33%;
  text-align: left;
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.head-navbar-footer {
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Jost";
  line-height: 49.13px;

  margin: 0;
}
.nav-footer-main {
  width: 100%;
  flex-direction: row;
  display: flex;
  gap: 4rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.nav-22 {
  gap: 18px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.nav-23 {
  gap: 18px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.clicked {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.entered {
  display: flex;
  flex-direction: row;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
  margin-top: 0px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.fancy-footer {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;

  color: #ffffff;
  display: inline-flex;
  border-radius: 50%;
}
.main-icon-nav {
  font-family: Jost;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
.footer-det-spice-low {
  width: 34%;
  gap: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.footer-contact-icon-list {
  gap: 17px;

  gap: 17px;
  display: grid !important
;
  align-items: stretch;

  margin-bottom: 20px;

  max-width: 100%;
  width: 100%;

  grid-template-columns: 1fr !important;
  grid-auto-rows: unset !important;
}
.icon-list-row{
  display: flex
;
    text-align: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    gap: 5px;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}
.text-block-det{
  font-family: Jost;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.fancy-icons-1 {
  background-color: #d01036;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
.fancy-icons-1:hover {
  background-color: white;
  transform: scale(1.4) translateY(-5px);
  transition-duration: 0.5s;
}
div.fancy-icons-1 {
  display: inline-flex;
  border-radius: 50%;
}
.icon-list-img-foot{
  display: flex
;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}
.footer-icon-img-23{
  margin-bottom: -19px;
    width: 171px;
    max-width: 100%;
}
.ct-copyright{
  transform: translateY(-30px);
    text-align: left;
    width: 100%;
    align-items: center;
    margin-bottom: -14px;
    display: flex
;
    flex-wrap: nowrap;
    flex-direction: column;
}
.copyy{
  font-size: 14px;
    color: #ffffff;
    line-height: 1;
    font-family: 'Jost';
    font-weight: 400;
}

/* @media (max-width: 984px) {
  .spice-video-text {
    font-size: 43px;
    line-height: 66px;
  }
  .pic-2 {
    margin-top: -91px;
    margin-left: 17px;
  }
  .pic-text {
    line-height: 1.2;
  }
  .red-head {
    line-height: 29.12px;
  }
  .red-head-2 {
    font-size: 14px;
  }
} */
/* @media (max-width: 768px) {

} */

@media (max-width: 768px) {
  .main-spices {
    /* flex-direction: column; */
  }

  .spice-video-text {
    font-size: 37px;
    line-height: 66px;
  }
  .pic-2 {
    margin-top: -95px;
    margin-left: -8px;
  }
  .pic-text {
    line-height: 1;
  }
  .red-head {
    line-height: 20.12px;
  }

  .red-head-2 {
    font-size: 12px;
  }
  .main-side-img {
    margin-top: -30px;
  }
  .text-main-1 {
    margin-bottom: 50px;
  }
  .main-side-1 {
    width: 220px;
  }
  .dish-3 {
    height: 382px;
  }
}

@media (max-width: 430px) {
  video.video-banner {
    background-size: cover;
    width: 100%;
  }
  .spice-video-text {
    font-size: 16px;
    line-height: 25px;
    padding: 0px;
  }
  .spice-banner-gif {
    bottom: 0px;
  }
  .spice-banner-gif img {
    width: 40px;
  }
  .headline {
    font-size: 30px;
  }
  .headline-2 {
    font-size: 30px;
  }
  .navbar {
    display: none;
  }
  .spice-description {
    width: 100%;
    max-width: 93%;
    line-height: 1.2;
    font-size: 16px;
  }
  .main-spices {
    flex-direction: column;
  }
  .main-icon {
    gap: 113px;
    align-items: center;
  }
  .pic-text {
    line-height: 1.2;

    border-radius: 48px;
    padding-top: 49px;
    padding-right: 48px;
    padding-bottom: 23px;
    padding-left: 16px;
    width: 187%;
    max-width: 348px;
    font-size: 13px;
  }
  .pic-2 {
    margin-top: -13px;
    margin-left: 27px;
  }
  .picture-2 {
    top: 5px;
    right: -142px;
  }
  .spicy {
    width: 140px;
    height: 138px;
  }
  .red-main {
    display: none;
  }
  .menu-pages {
    display: none;
  }
  .pic-2 {
    margin-top: -65px;
    margin-left: 34px;
  }
  .picture-2 {
    top: 60px;
    right: -142px;
  }
  #good {
    max-width: 159%;
    object-fit: cover;
  }
  .main-img1 {
    max-width: 126%;
    border-style: none;
  }
  .content-1 {
    flex-direction: column;
    gap: 3rem;
  }
  .text-1 {
    width: 110%;
  }
  .text-main-1 {
    line-height: 1.3;
  }
  .main-side-1 {
    width: 145px;
  }
  .dish-1 {
    border-radius: 23px;
    max-width: 125%;
    border-style: none;
  }
  .dish-3 {
    height: 183px;
  }
  .bad-button {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 13px;
    font-size: 24px;
  }
  .red-wrap {
    padding-top: 23px;
  }
  .industry-heading {
    font-size: 25px;
  }
  .industry-main {
    text-align: center;
  }
  .industry-head {
    width: 155px;
  }
  .leaf-5 {
    margin-bottom: -35px;
    width: 133px;
  }

  .happy-main-img {
    top: 100px;
  }
  .ct-block {
    gap: 10px;
  }
  .card-main {
    border-radius: 30px;
    max-width: 126%;
  }
  .card-main-text {
    display: none;
  }
  .row-1 {
    padding-left: 15px;
  }
  .row-3 {
    padding-left: 15px;
    padding-right: 28px;
  }
  .main-img1:hover {
    transform: scale(1.12, 1.12);
    transition-duration: 0.4s;
  }
  .card-main {
    transform: scale(1.12, 1.12);
    transition-duration: 0.4s;
  }
  .main-topics {
    padding-top: 52px;
  }
  .main-icon {
    row-gap: 30px;
    column-gap: 109px;
    width: 50%;
  }
  .main-cards-blog{
    display: block;
  }
  .main-card-1{
    width: 107.33%;

  }
  .blog-wrap{
    padding-right: 3px;
    padding-left: 4px;
  }
  .news{
    font-size: 28px;
  }
  /* input[type="text"], input[type="email"], input[type="tel"], select, textarea {
    width: 172% !important;
    max-width: 182% !important;
  } */
  .spice-columns-info{
    display: block;
    justify-content: normal;
  }
 

    .spice-info-req{
      width: 100%;
      margin-left: 2.5%;
      padding-left: 5px;
    }
    .spice-tabel-abut{
      margin-left: 0.5%;
    }
    .spice-quote-form-btns p {
    gap: 3px;}

}
/* @media (max-width: 1920px) {
  .pic-2{
    margin-left: 557px;
  }
  .pic-text{
    font-size: 25px;
  }
  .picture-2{
    top: 440px;
  }
  .spicy{
    width: 269px;
    height: 247px;
  }
} */
