
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex{
    display: flex;
}

.align-center {
  align-items: center;
}

.align-left {
  align-items: left;
}

.align-right {
  align-items: right;
}
.justify-center {
  justify-content: center;
}
.justify-left {
  justify-content: left;
}
.justify-right {
  justify-content: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.red{
  color: red !important;
}


:root {
    --black: #000000;
    --white: #ffffff;
    --red: #ff0000;
    --dark-grey: #A9A9A9;
    --beige: #F5F5DC;
    --burnt-pink: #C12267;
    --coral: #FF7F50;
    --green: #008000;
    --blue: #0000FF;
    --brick: #cb4154;
    --brown: #964B00;
    --camel: #C19A6B;
    --charcoal: #36454f;
    --chocolate: #7B3F00;
    --creem: #FFFDD0;
    --biege: #F5F5DC;
    --dark-blue: #00008B;
    --dark-green: #013220;
    --dark-olive: #556b2f;
    --grey: #808080;
    --h-grey: #808080;
    --ink-blue: #16264c;
    --khaki: #F0E68C;
    --light-blue: #ADD8E6;
    --light-brown: #b5651d;
    --light-grey: #D3D3D3;
    --light-khakhi: #E6F2A2;
    --light-khaki: #E6F2A2;
    --light-pink: #FFB6C1;
    --maroon: #800000;
    --med-blue: #0000CD;
    --mid-blue: #0000CD;
    --musterd: #FFDB58;
    --mustered: #FFDB58;
    --navy: #000080;
    --off-whit: #FAF9F6;
    --olive: #808000;
    --orange: #FFA500;
    --pistachio: #84B067;
    --royal-blue: #4169e1;
    --rust: #b7410e;
    --sand: #C2B280;
    --skin: #c58c85;
    --tea-pink: #f4c2c2;
    --white: #FFFFFF;
    --yellow: #FFFF00;
    --carrot: #ED9121;
    --coffee: #6F4E37;
    --dark-brown: #5C4033;
    --dark-navy: #000435;
    --dark-nvy: #000435;
    --deep-nvy: #000080;
    --ferozi: #326DBB;
    --light-green: #90EE90;
    --lilac: #C8A2C8;
    --lime-yellow: #00ff00;
    --limeyellow: #00ff00;
    --mustard: #ffdb58;
    --neon-green: #39FF14;
    --off-white: #F2F0EF;
    --pink: #FFC0CB;
    --purple: #A020F0;
    --royl-blue: #4169e1;
    --sky-blue: #87CEEB;
    --steal-grey: #71797E;
    --stone: #B7B09C;
    --tannin: #DDB6A1;
    --teal: #008080;
    --teal-blue: #367588;
    --turquise: #40E0D0;
    --white-1: #FFFFFF;
    --white-2: #FFFFFF;
    --wine: #722F37;
    --sage-green: #B2AC88;
    --ash: #B2BEB5;
    --ash-white: #E9E4D4;
    --ice-blue: #AFDBE8;
    --neon-orange: #FF5C00;
    --aqua: #00FFFF;
    --cream: #FFFDD0;
    --mauve: #E0B0FF;
    --mouse: #757575;
   
    --font-body-family: Montserrat, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;
    --font-heading-family: Montserrat, sans-serif;
    --font-heading-style: normal;}
.site-header_inner{
  /* align-items: center; */
  display: flex;
    justify-content: space-between;
}
.site-header_center {
    padding-top: 15px;
}
.site-navigation_ul{
  height: 100%;
  display: flex
;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 2rem;
        align-items: center;
}
.site-navigation_a{
  text-decoration: none;
    color: var(--black);
    font-family: var(--font-body-family);
    font-weight: var(--font-body-weight-bold);
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.site-header_left{
 padding: 3.1875rem 3rem 3.1875rem 3rem;
}
span.wishlist_count{
  
    background: #000;
    color: #fff;
    padding: 1px 4px;
    font-size: 10px;
    border-radius: 50%;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.site-header_right {
    gap: 1.5rem;
    padding: 2.1875rem 3rem 3.1875rem 0;
   
}
.site-header_wishlist{

  display: flex
;
        align-items: center;
}
.card-shape{
  width:403px ;
  height: 504px;
}

svg {
    fill: transparent;
    stroke: #000;}

    .site-navigation_li:hover{
      transform: scale(1.2) translateY(-5px);
    transition-duration: 0.5s;
    }
    svg.wishlistchange {
    width: 20px;
    height: 20px;
}

.spice-letter-form {
    display: flex
;
    align-items: baseline;
    border: 1.5px solid var(--black);
    border-radius: 22px;
}
.wrap-cntrl {
    position: relative;
}
.email-main-2 {
  border-radius: 21px;
    direction: ltr;
    /* background-color: black; */
    background: transparent;
    outline: none;
    border: none;
    padding: 12px 16px;
    font-size: 12px;
    color: var(--black);
    font-weight: 400;
    width: 100%;
    font-size: 88%;
    line-height: 1.15;
    margin: 0;
}
input, select, textarea {
    color: var(--black) !important;
}
.short-code {
    display: flex
;
    align-items: center;
}
.site-header_cart{
  display: inline-flex
;
    justify-content: center;
    align-items: center;
}
.site-hedaer-cart_span{
  position: relative;
    display: inline-flex
;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    overflow: hidden;
  font-size: 1.125rem;
    line-height: 1.33;
    white-space: nowrap;}

    .site-header-a_background{
      background: #fff;
      color: #000;
      padding: 1px 4px;
      font-size: 10px;
      border-radius: 50%;
      display: flex}
      .site-header-a_background:hover{
         transform: scale(1.1) translateY(-4px);
    transition-duration: 0.3s;
      }
      .ticket-wrapper_main{
        font-family: 'Montserrat', sans-serif;
    line-height: 1.4;

        color: #000000;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 500;
position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
      }
      .ticket-content{
        display: inline-block;
    padding-left: 100%;
    animation: scroll-ticker 20s 
linear infinite;
      }
      .ticker-item {
    display: inline-block;
    margin-right: 60px;
}
.hero-banner-img_bg {
    width: 100%;
    overflow: hidden;
}
img.hero-banner-img_inside {

    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
}
.hero-banner_container{
  top: -129px;
    z-index: -1;
    min-height: 41rem;
    position: relative;
    display: flex
;
    align-items: center;
    justify-content: center;
}
.hero-banner_img{
max-height: 39.5rem;
}
.image-carousel_img-1{
  overflow: hidden;
}
.card-shape{
  transition: transform 0.25s 
cubic-bezier(0.25, 0.01, 0.25, 1);
}
.card-shape:hover{
transform: scale(1.15);
}
#image-carousel {
   padding: 2rem 0 2.5rem;
}
.image-text {
  font-family: var(--font-body-family);
    background-color: white;
    position: absolute;
    bottom: 20px;
    left: 159px;
    color: black;
    font-size: 20px;
    font-weight: var(--font-body-weight);
    padding: 10px 15px;
    border-radius: 3px;
    font-style: var(--font-body-style);
}
.image-text:hover{
background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    transition-duration: 0.3s;
}
.image-text-1 {
  font-family: var(--font-body-family);
    background-color: white;
    position: absolute;
    bottom: 20px;
    left: 120px;
    color: black;
    font-size: 20px;
    font-weight: var(--font-body-weight);
    padding: 10px 15px;
    border-radius: 3px;
    font-style: var(--font-body-style);
}
.image-text-1:hover{
background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    transition-duration: 0.3s;
}
img.img-banner_bg {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.card-shape-1{
  transition: transform 0.25s 
cubic-bezier(0.25, 0.01, 0.25, 1);
}
.card-shape-1:hover{
transform: scale(1.15);
}
.card-shape-1{
  width: 403px;
  height: 504px;
}
#picture-block{
  padding: 2rem 0 2.5rem;
}
 #kids-wrapper{
  padding: 2rem 0 2.5rem;
 }
 #girl-wrapper{
  padding: 2rem 0 2.5rem;
 }
 .newsletter{
  background-color: var(--white);
 }
.newsletter-column{
  width: 80rem;
        max-width: none;
        padding: 0;
        transform: translateX(-50%);
        margin-left: 50%;}

.newsletter-link{
 
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2.6875rem;
        height: 2.6875rem;
        border: 0.0625rem solid rgba(21, 21, 31, 0.16);
        border-radius: 50%;
        overflow: hidden;
        transform: translateZ(0);
}
    .c-newsletter__social-icon {
        width: 1.4375rem;
        height: 1.4375rem;
    }
    .news-card-1{
      padding-top: 6.0625rem;
    padding-left: 2.625rem;
    display: flex;
    gap: 2rem;
    }
.card-img_1 {
    border-radius: 2rem;
    width: 175px;
    height: 230px;
}
.newsletter-link:hover{
   transform: scale(1.2) translateY(-5px);
   transition-duration: 0.3s;
  opacity: 1;
    transition-timing-function: linear;
        transition-duration: 0.2s;
        transition-property: opacity;
        background: url(https://cdn.shopify.com/s/files/1/0704/4395/8528/files/social-gradient-bg.jpg) no-repeat 50% / 100%;
    }
.stay-in-touch {
  position: relative;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.stay-in-touch .content h1 {
  font-size: 7rem;
  font-weight: 800;
  color: #0b0b0e;
  line-height: 1.1;
}

.stay-in-touch form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.stay-in-touch input {
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  width: 300px;
  font-size: 1rem;
}

.stay-in-touch button {
  padding: 1rem 1.5rem;
  border: none;
  background: #0b0b0e;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.news-card-2{
  align-items: center;
    padding-top: 6.0625rem;
    padding-left: 5.625rem;
    display: flex;
    gap: 2rem;
}
.newsletter-content{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-card-3{
  align-items: center;
  padding-top: 6.0625rem;
    padding-left: 2.625rem;
    display: flex;
    gap: 2rem;

}
.news-card-4 {
  align-items: center;
    padding-top: 8.0625rem;
    padding-left: 2.625rem;
    display: flex;
    gap: 2rem;
}
.card-img_2{
  border-radius: 2rem;
  width: 216px;
  height: 250px;
}

input, ::placeholder{
  color: var(--black) !important;
}
.col-head{
  color: var(--black);
  margin: 0 0 0.4rem;
        padding: 0;
        font-size: 1.25rem;
        line-height: 1.4;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
}

.footer-engine_container{
  padding: 5.5rem min(5%, 4rem) 4.25rem min(6%, 5rem);
        padding-top: 2.5rem;
}
svg.svg-eng {
  fill: transparent;
    stroke: #000;
    width: 20px;
    height: 20px;
}
svg.svg-eng-1 {
  fill: black;
    stroke: #000;
    width: 20px;
    height: 20px;
}
a{
  text-decoration: inherit;
  color: #000;
}
a.tel{
  display: flex;
    gap: 10px;
    line-height: 2;
}
span.yno{
  font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
ul.c-footer-ul {
  padding: 0 0 2.5rem;
    margin: 0;
    list-style: none;
}
li.li-footer{
  margin-bottom: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  transition-timing-function: 
linear;
        transition-duration: 0.2s;
        transition-property: padding;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
  color: #000000;
    padding: 2px 0;
    font-size: 1rem;
    font-weight: 100 !important;
}
.footer-engine_main {
    display: flex;
    gap: 7rem;
}
a.animate-li:hover{
 transform: translate(20px, 0px);
        padding-right: 0;
}
a.animate-li{
   margin-bottom: 0.25rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  transition-timing-function: 
linear;
        transition-duration: 0.2s;
        transition-property:transform ;
}
li.li-footer-1{
  display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    margin-bottom: 5px;
}
.icon-width{
  width: 20px;
}
.c-footer-bottom {
  padding: 0 5.1rem 1.75rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
footer#footer-engine {
  background-color: rgb(240, 240, 240);
}
.c-footer-good{
  color: #000000;

    margin: 0;
font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-size: 0.875rem;
    line-height: 1.43;
    margin-top: 0;
    font-weight: 500;
}
@keyframes scroll-ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}